.list-group-item {
    border: none !important;
    border-radius: 0 !important;
    padding-left: 10px!important;
    border-left: 1px solid silver !important;
}

.list-group-item:hover {
    cursor: pointer;
    background-color: silver !important;
}

.root-item {
    border: none!important;
}

.list-group-item:not(.root-item):before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1.3em;
    width: 10px;
    /*height: 100vh;*/
    border: solid silver;
    border-width: 0 0 1px 1px;
}

ul:not(:first-child) {
    border-left: 1px solid silver;
}

/*.list-item-container {*/
/*    border-left: 1px solid silver!important;*/
/*}*/

/*.parent {*/
/*    overflow: hidden!important;*/
/*}*/