.list-group-item {
    border: none !important;
    border-radius: 0 !important;
    position: relative;
    padding-left: 1.2em;
    overflow: hidden!important;
    /*left: -10px!important;*/
}

/*.list-group-item:not(.parent) {*/
/*    height: 1000px;*/
/*    border: solid #333;*/
/*    border-width: 0 0 1px 1px*/
/*}*/

.list-group-item:not(:first-child):before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 1em;
    width: 15px;
    border-bottom: 1px solid #333;
}

.list-group .list-group-item:before {
    height: 100vh;
    border: solid #333;
    border-width: 0 0 1px 1px
}

.list-group-item:hover {
    cursor: pointer;
    background-color: silver !important;
}
