.danger-message {
    color: darkred;
}

.success-message {
    color: green;
}

body {
    padding: 20px 0;
}

.list-group {
    position: relative !important;
}

ul ul {
    padding-inline-start: 10px !important;
}

button {
    margin-right: 5px !important;
}

.br {
    padding-bottom: 15px !important;
}

.active ul {
    color: black;
}
