.list-group {
    position: relative !important;
}

ul ul {
    padding-inline-start: 10px !important;
}

button {
    margin-right: 5px !important;
}

.br {
    padding-bottom: 15px !important;
}

.active ul {
    color: black;
}